<h1>La liste des clients</h1>
<ul>
    {% for c in listeClient %}
        {% set somme=0 %}
        <li>Le client {{ c.nom }}</li>
        <ul>
            {% for p in listeProduit %}
                {% if c.id == p.idClient %}
                    <li>{{ p.design }} {{ p.prix }}</li>
                    {% set somme=somme + p.prix %}
                {% endif %}
            {% endfor %}
            <li> La somme est {{ somme }}</li>
        </ul>
    {% endfor %}
</ul>