<h1>La liste des matières</h1>
<ul>
    {% for e in listeE %}
        <li>L'étudiant {{ e.nom }}</li>
        <ul>
            {% for m in e.matieres %}
                <li>{{ m.nom }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>