{% extends "etudiant/layout.html.twig" %}
{% block title %} {{ parent()}} - Accueil {% endblock %}
    {% block stylesheet %}
        <link>
    {%  endblock %}

{% block body %} {{ parent() }}OK {% endblock %}
