<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Modules {% endblock %}</title>
    {% block stylesheet %}
        <link>
    {%  endblock %}
</head>
<body>
<h1>Les modules de TekUp</h1>
{% block body %} hhhhhhh {% endblock %}
</body>
</html>