<h1>Liste des étudiants</h1>
<ul>
    {% for e in etudiants %}
        <li>{{ e | upper}}</li>
    {% endfor %}
</ul>

{#  {{ include('etudiant/etudiant.html.twig', {"nom":"hhh"}) }} #}

<h1>Liste des modules</h1>
<table border="2">
    <tr>
        <td>Id</td>
        <td>Nom</td>

        <td>Enseignant</td>
        <td>Nombre d'heures</td>
        <td>Date</td>
    </tr>
    {% for m in listeModules %}
        <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.nom }}</td>
            <td>{{ m.enseignant }}</td>
            <td>{{ m.nbrHeures }}</td>
            <td>{{ m.date }}</td>
            <td><a href="{{ path("Affectation") }}">Affecter</a></td>
        </tr>
    {% endfor %}
</table>

